  @import '../../styleConfig/settings.scss';

.root {
  display: block;
  width: 100%;
  padding: $gridUnit * 2;
  border-radius: 0;
  appearance: none;
  background-color: #fff;

  &:disabled {
    cursor: not-allowed;
  }
}
