@import './settings.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: $font-primary;
  font-size: $fontSize-base;
  line-height: $lineHeight-base;
  color: map-get($color-grays, '600');
}

body {
  padding: 0;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}
