// Color: Brand
$color-primary   : #28776e !default;
$color-secondary : #ff3366 !default;

// Color: Semantic
$color-semantic: (
  danger         : #ff585f,
  warning        : #faab54,
  info           : #5bc0de,
  success        : #30b458,
) !default;

// Color: Gray
$color-grays : (
  "100" : #fafafa,
  "200" : #f3f3f3,
  "300" : #d6d6d6,
  "400" : #888,
  "500" : #444,
  "600" : #222,
) !default;

// Color: Black & White
$black : #000;
$white : #fff;

// Typography
$font-primary    : "helvetica, arial, sans-serif" !default;
$fontSize-base   : 16px !default;
$lineHeight-base : floor(($fontSize-base * 1.428)) !default; // ~20px

$fontSize : (
  "100" : ceil(($fontSize-base * .571)),
  "200" : ceil(($fontSize-base * .642)),
  "300" : ceil(($fontSize-base * .714)),
  "400" : ceil(($fontSize-base * .785)),
  "500" : ceil(($fontSize-base * .857)),
) !default;


// Opacity
$opacity : (
  "100" : .04,
  "200" : .08,
  "300" : .16,
) !default;

// Scaffolding: Grid Unit
$gridUnit  : 4px !default;

// Break Points
$breakpoints: (
  phone   : 720px,
  tablet  : 768px,
  desktop : 1024px,
);
