@import '../../styleConfig/settings.scss';

.root {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid map-get($color-grays, "300");
}

.columnHead {
  padding: $gridUnit * 2;
  text-align: left;
  border: 1px solid map-get($color-grays, "300");
  background: map-get($color-grays, "200")
}

.columnBody {
  padding: $gridUnit * 2;
  border: 1px solid map-get($color-grays, "300");
  
  .remove {
    cursor: pointer;
  }
}
